matplotlib==2.2.2
numpy==1.16.1
pandas==0.25.0
pyodbc==4.0.23
pytorch-pretrained-bert==0.6.2
PyYAML==5.1
scikit-learn==0.21.2
seaborn==0.8.1
torch==1.3.0
torchvision==0.4.1
psycopg2-binary==2.8.3
nltk==3.4.5
openpyxl==2.5.3
spacy==2.2.1
scispacy==0.2.2
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.4/en_core_sci_md-0.2.4.tar.gz

# ian's requirements (below)
# Requirements for the Keras backend, with python 2
# For Vector set: LD_LIBRARY_PATH=/pkgs/cuda-9.0/lib64:/pkgs/cudnn-9.2-v7.1/lib64:$LD_LIBRARY_PATH
wheel
tensorflow-gpu==2.9.3
h5py==2.10.0
cython==0.29.17
#Original Requirements
Keras==2.1.2
# numpy==1.13.1
# scikit-learn==0.18.2
pandas==0.23.4
tqdm

