absl-py==0.9.0
backports.weakref==1.0.post1
bleach==3.3.0
Cython==0.29.17
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
h5py==2.10.0
html5lib==0.9999999
Keras==2.1.2
Markdown==3.1.1
mock==3.0.5
numpy==1.13.1
pandas==0.23.4
protobuf==3.12.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scikit-learn==0.18.2
scipy==1.2.3
six==1.14.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
tqdm==4.46.0
Werkzeug==1.0.1
